.level-typea {
  width: 30px;
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: center;
  font-size: 16px;
  border-radius: 5px;

  &.color {
    color: #000000;
    background: #ffffff;
  }

  &.colorA1 {
    color: #fff;
    background: #e8153e;
  }

  &.colorA2 {
    color: #fff;
    background: #ffffff;
  }

  &.colorA3 {
    color: #fff;
    background: #fc527f;
  }

  &.colorB1 {
    color: #fff;
    background: #ff8000;
  }

  &.colorB2 {
    color: #fff;
    background: #ffb639;
  }

  &.colorB3 {
    color: #fff;
    background: #ffdb42;
  }

  &.colorC1 {
    color: #fff;
    background: #2877ff;
  }

  &.colorC2 {
    color: #fff;
    background: #54a0fd;
  }

  &.colorC3 {
    color: #fff;
    background: #54bbfd;
  }

  &.colorD1 {
    color: #fff;
    background: #14b4b3;
  }

  &.colorD2 {
    color: #fff;
    background: #2dd5d3;
  }

  &.colorD3 {
    color: #fff;
    background: #46e6dd;
  }

  &.colorE1 {
    color: #fff;
    background: #9d9d9d;
  }

  &.colorE2 {
    color: #fff;
    background: #b9b9b9;
  }

  &.colorE3 {
    color: #fff;
    background: #d6d6d6;
  }
}
