// main-var-width
@mixin flec {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

@mixin flmc {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

