// main-var-color
$red: #f44336;

$blue: #20a0ff;

$yellow: #f7c739;

$white: #ffffff;

$black: #3c3c3c;

$gray: rgba(0, 0, 0, 0.45);

$middle-gray: #e2e2e2;

$light-gray: #fafafa;

$info: #000;

$error: #000;

$warning: #000;

$background: #f0f2f5;

$liner: #ccc;

$status-1: #f44336;

$status-2: #73a0fa;

$status-3: #a283d6;

$status-4: #f7c739;
