// ui-reset-style
@import './main.scss';
.s-red {
  color: $red;
}

.s-blue {
  color: $blue;
}

.s-yellow {
  color: $yellow;
}

.s-white {
  color: $white;
}

.s-black {
  color: $black;
}

.s-gray {
  color: $gray;
}

.s-light-gray {
  color: $light-gray;
}

.s-info {
  color: $info;
}

.s-error {
  color: $error;
}

.s-warning {
  color: $warning;
}

// ele-reset
/deep/ .el-button--primary {
  background-color: $red;
  border-color: $red;
}

/deep/ .el-table th {
  background-color: $light-gray;
  color: $black;
}

/deep/ .el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: $red;
  color: #fff;
}

/deep/ .el-pagination__sizes .el-input .el-input__inner:hover {
  border-color: $red;
}

/deep/ .el-pagination.is-background .el-pager li:not(.disabled):hover {
  color: $red;
}

/deep/ .el-pagination.is-background .el-pager li.active:not(.disabled):hover {
  color: #fff;
}

/deep/ .el-select-dropdown__item.selected {
  color: $red;
  font-weight: bold;
}

/deep/ .el-select-dropdown__item.selected {
  color: $red;
  font-weight: bold;
}

/deep/ .el-select .el-input.is-focus .el-input__inner {
  border-color: $red;
}

.el-select-dropdown__item.selected {
  color: $red;
}

.el-select .el-input__inner:focus {
  border-color: $red;
}

.el-table__header {
  width: 100% !important;
}

.el-table__body {
  width: 100% !important;
}

.el-year-table td .cell {
  font-size: 16px;
}

.el-year-table td.current:not(.disabled) .cell {
  color: $red;
  font-weight: 700;
  font-size: 16px !important;
}

.el-year-table td .cell:hover {
  color: $red;
}

.el-date-picker__header-label:hover {
  color: $red;
}

.el-date-table td.start-date span,
.el-date-table td.end-date span {
  background-color: $red;
}

.el-date-table td.today span {
  color: $red;
}

.el-date-table td.available:hover {
  color: $red;
}

.el-range-editor.is-active {
  border-color: $red;
}

.v-modal {
  opacity: 0.4;
  // background: #fff;
}

/deep/ .el-icon-loading {
  font-size: 28px;
  color: $red;
}

/deep/ .el-loading-spinner .el-loading-text {
  font-size: 14px;
  color: $red;
}

/deep/ .el-dialog__title {
  font-family: 'Microsoft YaHei';
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.85);
}

.el-tooltip__popper.is-light {
  border: none !important;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
}

.el-tooltip__popper {
  font-family: 'Microsoft YaHei';
}

.popper__arrow {
  border-top-color: #fff;
}

.popper__arrow::after {
  border-top-color: #fff;
}

.el-tooltip__popper.is-light[x-placement^='top'] .popper__arrow {
  border-top-color: #fff;
}

.el-tooltip__popper[x-placement^='top'] .popper__arrow {
  border-top-color: #fff;
}

.el-loading-spinner .path {
  stroke: $red;
}

/deep/ .el-dialog__header {
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 14px;
}
